<!-- Main Home Page -->
<!-- Show Recently Added Books -->
<h2>Recently Added Books</h2>
<div>
  <% books.forEach(book => { %>
    <img src="<%= book.image %>" height="150" width="100" />
  <% }); %>
</div>