<!-- Main Home Page -->
<!-- Show Recently Added Books -->
<h2>Recently Added Books</h2>
<div>
  <% books.forEach(book => { %>
    <a href="/books/<%= book.id %>">
      <img src="<%= book.image %>" height="150" width="100" />
    </a>
  <% }); %>
</div>